{% extends "base_message.html" %}

{% block title %}Change password{% endblock %}

{% block content %}

<div id="message">
  <h1>Change password</h1>
    <p class="message-hint">Enter your current password and your new 
    password.</p>
    <form method="post" action="">
      {{ form.username }}
      <div class="form-line">
        <label for="{{ form.password_old.get_id }}">Current password</label>
        {{ form.password_old }}
        {% if form.password_old.errors %}<ul class="errorlist">{{ form.password_old.html_error_list }}</ul>{% endif %}
      </div>

      <div class="form-line">
        <label for="{{ form.password.get_id }}">New password</label>
        {{ form.password }}
        {% if form.password.errors %}<ul class="errorlist">{{ form.password.html_error_list }}</ul>{% endif %}
      </div>

      <div class="form-line">
        <label for="{{ form.password_confirm.get_id }}">Confirm new password</label>
        {{ form.password_confirm }}
        {% if form.password_confirm.errors %}<ul class="errorlist">{{ form.password_confirm.html_error_list }}</ul>{% endif %}
      </div>

      <div class="form-submit">
        <input type="submit" value="Change password">
      </div>
    </form>
  </div>
{% endblock %}
